<div class="container-cs">
  <div class="left-section position-relative">
    <div class="logo position-absolute" [routerLink]="''">
      <img src="/assets/images/MyLogo.svg" alt="JobBee Logo">
    </div>
    <div class="d-flex flex-column align-items-center">
      <ng-content select=".form"></ng-content>
    </div>
  </div>
  <div class="right-section">
    <div class="stats">
      <h2>{{'auth.info.title' | translate}}</h2>
      <div class="numbers">
        <div class="stat-item">
          <div class="position-relative">
            <img class="position-absolute start-50 top-50 middle" src="/assets/images/briefcase-duotone%201%20(1).svg" alt="Candidates Icon">
          </div>
          <p>{{data.openJob}}</p>
          <span>{{ 'auth.info.job' | translate }}</span>
        </div>
        <div class="stat-item">
          <div class="position-relative">
            <img class="position-absolute start-50 top-50 middle" src="/assets/images/buildings-duotone%201%20(1).svg" alt="Companies Icon">
          </div>
          <p>{{data.company}}</p>
          <span>{{ 'auth.info.company' | translate }}</span>
        </div>
        <div class="stat-item">
          <div class="position-relative">
            <img class="position-absolute start-50 top-50 middle" src="/assets/images/briefcase-duotone%201%20(1).svg" alt="Candidates Icon">
          </div>
          <p>{{data.newJob}}</p>
          <span>{{ 'auth.info.newJob' | translate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
