<div class="completion-container">
  <div class="success-icon">
    <div class="checkmark"></div>
  </div>

  <h1 class="title">
    {{ 'completion.title' | translate }}
  </h1>

  <p class="description">
    {{ 'completion.description' | translate }}
  </p>

  <div class="button-container">
    <button class="btn btn-secondary" onclick="viewDashboard()">
      {{ 'completion.buttons.viewDashboard' | translate }}
    </button>
    <button class="btn btn-primary" onclick="postJob()">
      {{ 'completion.buttons.postJob' | translate }}
    </button>
  </div>
</div>
