.job-banner {
  background: var(--gray-background);
  .container {
    padding-bottom: 100px;
    padding-top: 100px;

    .intro {
      color: var(--black);
      font-size: 56px;
      font-style: normal;
      font-weight: 500;
      line-height: 64px;
    }

    .sub-intro {
      color: var(--gray);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }

    .suggestion {
      color: var(--gray);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }

    .job-image {
      background-image: url("/assets/images/Illustration.svg");
      width: 492px;
      height: 382px;
      flex-shrink: 0;
    }

    .fun-fact {
      border-radius: 8px;
      background: var(--white);
      padding: 20px;
      box-sizing: border-box;
      width: 272px;

      .img {
        padding: 16px;
        border-radius: 4px;
      }

      .number {
        color: var(--black);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
      }

      .number-description {
        color: var(--gray);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
      }

      .normal {
        background: var(--white);
      }

      .primary {
        background: var(--primary);
      }
    }
  }
}
