.form {
  width: 80%;
  h3 {
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }

  .action {
    color: var(--gray);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    a {
      text-decoration: none;
      color: var(--primary);
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px;
    }
  }

  form {
    input {
      padding-top: 12px;
      padding-bottom: 12px;
      border-radius: 5px;
    }

    button {
      width: 100%;
    }
  }

  .wrap-btn {
    display: flex;
    align-items: center;
    width: calc(33vw - 258px);
    gap: 10px;
  }
}
