@if (company) {
  <div class="company box-shadow">
    <div class="d-flex align-items-center">
      <div class="company-image">
        <img width="68px" height="68px" [src]="company.companyLogo" alt="">
      </div>
      <div class="company-info">
        <div>{{ company.companyName }}</div>
        <div class="location">
          <img src="assets/images/fi_map-pin.svg">
          {{ company.headquartersCity }}
        </div>
      </div>
    </div>
    <app-button [content]="'global.topCompany.openPosition'" [style]="'color: var(--primary); border: none;background-color: var(--light-primary);width:100%;border-radius:3px'"></app-button>
  </div>
}
