<div class="popular-job">
  <div class="container">
    <div class="d-flex justify-content-between title">
      <h3 class="title">{{ 'global.popularJobs.title' | translate }}</h3>
      <div>
        <app-button [style]="'display:flex;justify-content:center;color: var(--primary);width:173px;align-content:center'"
          [content]="'global.viewAll'"
        >
          <img id="icon" src="assets/images/fi_arrow-right.svg" alt="" style="margin-left: 12px">
        </app-button>
      </div>
    </div>
    <div class="job-category">
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
      <div class="category">
        <div class="category-image">
          <img src="assets/images/pen-nib-duotone%201.svg" alt="">
        </div>
        <div>
          <div class="category-title">Đồ họa & Thiết kế</div>
          <div class="amount">{{'global.popularJobs.amount' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
