:root {
  --border: #E4E5E8;
  --primary: #0A65CC;
  --gray-background: #F1F2F4;
  --gray: #767F8C;
  --white: #FFFFFF;
  --black: #18191C;
  --light-primary: #E7F0FA;
}

.vertical {
  width: 1px;
  height: 32px;
  background-color: var(--border);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}
