:root {
  --border: #E4E5E8;
  --primary: #0A65CC;
  --gray-background: #F1F2F4;
  --gray: #767F8C;
  --white: #FFFFFF;
  --black: #18191C;
  --light-primary: #E7F0FA;
  --primary-background: #E8F1FF;
  --primary-200: #99C2FF;
  --red: red;
}

.vertical {
  width: 1px;
  height: 32px;
  background-color: var(--border);
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.box-shadow:hover {
  box-shadow: 5px 10px 18px var(--primary);
}

.error-msg {
  color: var(--red);
  font-size: 12px;
}
