<div>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3 class="title">{{ 'global.featureJobs.title' | translate }}</h3>
      <div>
        <app-button [style]="'display:flex;justify-content:center;color: var(--primary);width:173px;align-content:center'"
                    [content]="'global.viewAll'"
        >
          <img id="icon" src="assets/images/fi_arrow-right.svg" alt="" style="margin-left: 12px">
        </app-button>
      </div>
    </div>

  </div>
</div>
