<div>
  <div class="container">
    <div class="d-flex justify-content-between">
      <h3 class="title">{{ 'global.featureJobs.title' | translate }}</h3>
      <div>
        <button nz-button nzSize="large" class="login-btn" routerLink="/jobs">
          {{ 'global.viewAll' | translate }}
          <img id="icon" src="assets/images/fi_arrow-right.svg" alt="" style="margin-left: 12px">
        </button>
      </div>
    </div>
    <div>
      @for(job of jobs; track job.id) {
        <app-job [isGrid]="false" [data]="job"></app-job>
      }
    </div>
  </div>
</div>
