.top-header {
  background: var(--gray-background);

  .navigations {
    height: 100%;
  }

  nav {
    padding: 0 !important;
  }

  .navbar-nav {
    gap: 24px;
  }

  .nav-item {
    font-size: 14px;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 1s ease;
    height: 100%;
    .nav-link {
      padding: 14px 0;
      transition: color 1s ease;
      &::before {
        content: attr(data-text);
        display: block;
        font-weight: bold;
        overflow: hidden;
        visibility: hidden;
      }
    }

    &:hover {
      border-bottom: var(--primary) solid !important;

      .nav-link {
        color: var(--primary) !important;
      }
    }
  }

  .phone {
    font-size: 14px !important;
  }
}

.custom-option {
  img {
    width: 24px;
    height: 16px;
  }
}

.bottom-header {
  background-color: var(--white);
  border-bottom: 2px solid var(--border);
  padding: 20px 0;

  .logo {
    width: 90px;
    height: 60px;
    background-image: url("/assets/images/MyLogo.svg");
  }
}

.before-search {
  display: flex;
  align-items: center;
}
