.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s ease;
  z-index: 999;

  &.hide {
    transform: translateY(-100%);
  }
}

.main {
  padding-top: 154px;
  transition: padding-top 0.3s ease;

  &.top {
    padding-top: unset;
  }
}
