<app-header></app-header>
<div class="app-container">
  <app-employer-sidebar (sendMessage)="handleMessage($event)"></app-employer-sidebar>
  <app-dashboard-content *ngIf="receivedMessage === 'Overview'"></app-dashboard-content>
  <app-post-job *ngIf="receivedMessage === 'PostAJob'"></app-post-job>
  <app-my-job *ngIf="receivedMessage === 'MyJobs'"></app-my-job>
  <app-saved-candidate *ngIf="receivedMessage === 'SavedCandidate'"></app-saved-candidate>
  <app-employer-setting *ngIf="receivedMessage === 'Settings'"></app-employer-setting>
  <app-plan-billing *ngIf="receivedMessage === 'PlansBilling'"></app-plan-billing>
</div>
<app-footer></app-footer>
