<div class="mt-2 logo d-flex flex-column align-items-center" [routerLink]="''">
  <img src="/assets/images/MyLogo.svg" alt="JobBee Logo">
</div>
<div class="d-flex flex-column align-items-center position-relative top-50 translate-middle-y h-50 verify">
  <div class="form d-flex align-items-center flex-column gap-3 h-100">
    <h3>{{'auth.resetPassword.title' | translate}}</h3>
    <form #changePasswordForm="ngForm" (ngSubmit)="changePassword()" class="d-flex align-items-center flex-column gap-3 w-100">
      <div class="position-relative input-gr">
        <input
          [(ngModel)]="password"
          name="password"
          required
          nzSize="large"
          class="border-radius"
          nz-input
          [placeholder]="'auth.resetPassword.password' | translate"
          [type]="passwordVisible ? 'text' : 'password'" />
        <nz-icon
          class="ant-input-password-icon icon position-absolute"
          [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible" />
      </div>

      <div class="position-relative input-gr">
        <input
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          nzSize="large"
          class="border-radius"
          nz-input
          [placeholder]="'auth.resetPassword.cfPassword' | translate"
          [type]="cfPasswordVisible ? 'text' : 'password'" />
        <nz-icon
          class="ant-input-password-icon icon position-absolute"
          [nzType]="cfPasswordVisible ? 'eye-invisible' : 'eye'"
          (click)="cfPasswordVisible = !cfPasswordVisible" />
      </div>

      <button nz-button nzType="primary" nzSize="large" class="sign-in" type="submit">
        {{'auth.resetPassword.changePassword' | translate}}
        <svg class="ms-3" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
          <path d="M5.5 12H19.5" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M12.5 5L19.5 12L12.5 19" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </form>
  </div>
</div>
