.container {
  padding-top: 100px;
  padding-bottom: 100px;

  .title {
    color: var(--Gray-900, #18191C);
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
  }

  .common-position {
    margin-top: 50px;
    display: grid;
    row-gap: 32px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .position {
      margin-bottom: 32px;

      .text-bold {
        color: var(--Gray-900, #18191C);
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 28px;
      }

      .text-thin {
        color: var(--Gray-500, #767F8C);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }

      &:hover {
        .text-bold {
          color: var(--Primary-500, #0A65CC) !important;
          text-decoration-line: underline;
          cursor: pointer;
        }
      }
    }
  }
}
