<div class="job-cell" appFeatureJob [isFeature]="data.isFeatured" (click)="jobId.emit(data.id)">
  <div class="d-flex align-items-center">
    <div class="image">
      <img [src]="data.companyLogo" alt="">
    </div>
    <div class="ms-3">
      <div
        class="employer"
        nz-tooltip
        [nzTooltipTitle]="data.employerName"
      >
        {{ data.employerName | truncate: 15 }}
      </div>
      <div>
        <img src="assets/images/fi_map-pin.svg" alt="">
        <span class="ms-2">{{ data.locationCity }}</span>
      </div>
    </div>
  </div>
  <div>
    <div
      class="title"
      nz-tooltip
      [nzTooltipTitle]="data.title"
    >{{ data.title | truncate: 26 }}</div>
    <div class="contract-info">
      <span>{{ data.jobType }} • </span>
      <span>{{ data.minSalary | shortNumber }} - {{ data.maxSalary | shortNumber }} VND</span>
    </div>
  </div>
</div>
