.job-list {
  .search {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  .jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .list {

  }

  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }

  :host {
    display: inline-block;
    width: fit-content;
  }

  .view-list {
    border: 1px solid var(--border);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 6px;

    .view {
      padding: 6px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .active {
      background-color: var(--gray-background);
    }
  }
}
