<div class="workflow">
  <div class="container">
    <h2 class="text-center">{{'global.workflow.title' | translate}}</h2>
    <div class="process">
      <div class="action">
        <div class="action-image">
          <img src="assets/images/user-plus-duotone%201.svg" alt="">
        </div>
        <div class="action-guide">
          <div class="action-title">{{'global.workflow.createAccount.title' | translate}}</div>
          <div class="action-description">{{'global.workflow.createAccount.description' | translate}}</div>
        </div>
      </div>
      <div class="arrow-action first-arrow">
        <img src="assets/images/Arrows.svg" alt="">
      </div>
      <div class="action">
        <div class="action-image primary">
          <img src="assets/images/cloud-arrow-up-duotone%201.svg" alt="">
        </div>
        <div class="action-guide">
          <div class="action-title">{{'global.workflow.uploadCV.title' | translate}}</div>
          <div class="action-description">{{'global.workflow.uploadCV.description' | translate}}</div>
        </div>
      </div>
      <div class="arrow-action second-arrow">
        <img src="assets/images/Arrows-down.svg" alt="">
      </div>
      <div class="action">
        <div class="action-image">
          <img src="assets/images/magnifying-glass-plus-duotone%201.svg" alt="">
        </div>
        <div class="action-guide">
          <div class="action-title">{{'global.workflow.findJob.title' | translate}}</div>
          <div class="action-description">{{'global.workflow.findJob.description' | translate}}</div>
        </div>
      </div>
      <div class="arrow-action third-arrow">
        <img src="assets/images/Arrows.svg" alt="">
      </div>
      <div class="action">
        <div class="action-image">
          <img src="assets/images/circle-wavy-check-duotone%201.svg" alt="">
        </div>
        <div class="action-guide">
          <div class="action-title">{{'global.workflow.apply.title' | translate}}</div>
          <div class="action-description">{{'global.workflow.apply.description' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
